html,
body  {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    margin:0;
    padding:0;
    height:100%;
}

.base-header {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

.website-header {
    text-align: center;
}

.suitcase-quote {
    text-align: center;
}

/*  clear bootstrap header colors */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    margin-bottom: 5px;
}

#weatherbar {
    text-align: center;
}

#filter-side-navbar {
  background: #E5D0CC;
}

.closet_item { 
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
}

.suitcases { 
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
}

.suitcase-items {
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
}


#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    padding:5px;
}

#content {
    padding-bottom:100px; /* Height of the footer element */
}

#footer {
    background:#ededed;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

.suitcase-view {
    text-align: center;
}

.add-items-btn {
    background-color: transparent;
    width: 300px;
    height: 460px;
}

li {
    text-align: center;
}


