{% extends 'base.html' %}
{% block content %}

    <div id="">
        <h2 id="">Add Item To A Closet</h2>
        <br>
    </div>
  <div>
        <h6>Upload Item Picture</h6>
  <form id="" action="/uploads" method='POST' enctype='multipart/form-data'>
          <input type=file name=file>
          <br><br>
  </div>

  <div class="form-group">
    <label>Item Type<br> 
      <select name="item_type">
        {% for item_type in item_types %}
          <option value= '{{ item_type.i_type_id  }}'> {{ item_type }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div> 

  <div class="form-group">
    <label>Closet<br> 
      <select name="closet">
        {% for closet in closets %}
          <option value= '{{ closet.closet_id }}' > {{ closet }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div> 

  <div class="form-group">
    <label>Select your Item Category<br>
      <select name="category">
        {% for category in i_categories %}
          <option value= '{{ category.i_category_id }}' > {{ category }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div>

  <div class="form-group"> 
    <label>Color<br>
      <select name="color">
        {% for color in colors %}
          <option value= '{{ color.color_id }}' > {{ color }} </option>
        {% endfor %}
        </select><br><br>
    </label>
  </div>  

  <div class="form-group">
    <label>Size<br> 
      <select name="size">
        {% for size in sizes %}
          <option value= '{{ size.size_id }}' > {{ size }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div>

    <div class='form-group'>
      <label>NOTES <br>
            <textarea name="notes" cols="50" rows="5" maxlength="250" placeholder="Max 250 characters"></textarea>
      </label>
    </div>

      <input type=submit value=Upload><br><br>
  </form>

{% endblock %}