{% extends 'base.html' %}
{% block content %}

    <div id="">
        <h2 id="">Add Item To Your Closet</h2>
    </div>
  <div>
        <h6>Upload Item Picture</h6>
  <form id="" action="" method=post enctype=multipart/form-data>
          <input type=file name=file>
          <br><br>
  </div>

  <div class="form-group">
    <label>Closet: 
      <select name="closet">
        {% for closet in closets %}
          <option value= '{{ closet }}' > {{ closet }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div> 

  <div class="form-group">
    <label>Select your Item Category: 
      <select name="category">

        {% for category in i_categories %}
          <option value= '{{ category }}' > {{ category }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div>

  <div class="form-group"> 
    <label>Color: 
      <select name="color">
        {% for color in colors %}
          <option value= '{{ color }}' > {{ color }} </option>
        {% endfor %}
        </select><br><br>
    </label>
  </div>  

  <div class="form-group">
    <label>Size: 
      <select name="size">
        {% for size in sizes %}
          <option value= '{{ size }}' > {{ size }} </option>
        {% endfor %}
      </select><br><br>
    </label>
  </div>

      <input type=submit value=Upload>
  </form>

{% endblock %}