{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker();
});

$('input[name="daterange"]').daterangepicker();
</script>

<h1 class='suitcase-quote'>Keep Calm &amp; Start Packing...</h1>


<form action="/addsuitcase" method="POST">

    <div class='add-suitcase'>
        Suitcase Name: 
            <input type="text" name="suitcase-name">
        <br><br>
    </div>

   <div class='add-suitcase'>
        Destination: 
            <input type="text" name="destination">
        <br><br>
    </div>

    <div class='travel-dates'>
        Travel Dates: 
            <input type="text" name="daterange" value="" /><br><br>
    </div>

    <div class='create-closet'>
        NOTES: <br>
            <textarea name="notes" cols="50" rows="5" maxlength="250" placeholder="Anything you need to remember..."></textarea>
    </div>


    <div>
        <input type="submit" value="Create Suitcase!">
    </div><br><br>

</form>
    
{% endblock %}
