{% extends 'base.html' %}
{% block content %}

    <div id="">
        <h2 id="">Add Item To Your Closet</h2>
    </div>
    <div>
        <h6>Upload Item Picture</h6>
  <form id="" action="" method=post enctype=multipart/form-data>
          <p><input type=file name=file>
            <br>
    </div>
    <br><br>
  
      <select name="Closet: ">
        {% for closet in closets %}
          <option value= '{{ closet }}' > {{ closet }} </option>
        {% endfor %}
      </select><br><br>  
    
      <select name="Select your Item Category: ">

        {% for category in i_categories %}
          <option value= '{{ category }}' > {{ category }} </option>
        {% endfor %}
      </select><br><br>
       
      <select name="Color: ">
        {% for color in colors %}
          <option value= '{{ color }}' > {{ color }} </option>
        {% endfor %}
        </select><br><br>  

      <select name="Size: ">
        {% for size in sizes %}
          <option value= '{{ size }}' > {{ size }} </option>
        {% endfor %}
      </select><br><br>
      <input type=submit value=Upload>
  </form>

{% endblock %}