<!DOCTYPE html>
<html>
<head>
    <title>Organized Chaos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Organized Chaos</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Closets<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/createcloset">Create a Closet</a></li>
          <li><a href="/closets">View Closets</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Items<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/allitems">View All Items</a></li>
          <li><a href="/addItem">Add An Item</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Suitcase<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Pack A Suitcase</a></li>
          <li><a href="#">View All Suitcases</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>