{% extends 'base.html' %}
{% block content %}



        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image01-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image03-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image04-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image05-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image08-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image09-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image10-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image11-TCSClosets-960.jpg">
                </div>

                <div class="item">
                    <img class="img-responsive center-block" src="static/images/homepage_imgs/Image12-TCSClosets-960.jpg"> 
                </div>

            </div>
        </div><br>

        <div class="start-closet">
            <h2> Gone the days of the closet monster. Say hello to <strong>Cloud Closet</strong>...</h2>
           <p> <strong>Cloud Closet</strong> is a simple web application that allows you to create and access closets anywhere. It  liberates you so you can start your day or trip right. It is as <strong>simple as signing up, creating a closet and uploading items</strong> to get you started. You can filter your closet by different filter options, check the weather, and add to your consignment closet or your donation closet.</p>
           <p><strong>Cloud Closet</strong> is here to help pinpoint all closet related problems and find a solution to them.</p><br>


        </div>
 

{% endblock %}