{% extends 'base.html' %}
{% block content %}
    <div id="homepage-block">
        <h2 id="homepage-title">Noora's Closets</h2>
    </div>
    <br>
    <div>
        <h4><a href="/createcloset">Create New Closet</a></h4>
    </div>
    <br>
    <div>
        <h4><a href="/addItem">Add Item to Closet</a></h4>
    </div>
    <br>
    <div>
        <h4><a href="/closetsview">All Closets</a></h4>
    </div>
    <br>
    <div>
        <h4><a href="/itemsview">All Items</a></h4>
    </div>

{% endblock %}