{% extends 'user_base.html' %}
{% block content %}
<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo"><h2>ORGANIZED CHAOS</h2><h5>Start Your Cloud Closet</h5></div>

    <div class="logo">SIGN UP </div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form action="register" method="POST" id="register-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="first_name" class="sr-only">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first name">
                    </div>

                    <div class="form-group">
                        <label for="last_name" class="sr-only">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last name">
                    </div>
 
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password">
                    </div>
                    
                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" class="" id="agree" name="gree">
                        <label for="agree">I Agree with <a href="#">terms</a></label>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>already have an account? <a href="/login">login here</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>


{% endblock %}