{% extends 'base.html' %}
{% block content %}

<style type="text/css">

#weatherbar {
    text-align: center;
}

.div-inline{
    display:inline-block;
}

</style>

<script type="text/javascript">
$(function(){
    var searchItems = function(){

        var color_id = $('#color_selector').val()
        var category = $('#category_selector').val()
        var closet = $('closet_selector').val()

        $.ajax({
          url: "search",
          type: "get",
          data: {color: color_id, category: category, closet: closet},
          success: function(response) {
            $(".closet_item").hide()
            for(var i=0; i<response.items.length; i++){

                $("[itemid='" +response.items[i]+ "']").show()

            }

          },
          // error: function(xhr) {
          //   //Do Something to handle error
          // }
        });
    }

    $("#color_selector").onclick(searchItems)
    $("#category_selector").change(searchItems)
    $("closet_selector").change(searchItems)

    })

</script>

<div id="weatherbar">
    <iframe src="http://cdnres.willyweather.com/widget/loadView.html?id=55936" width="850" height="92" frameborder="0" scrolling="no"></iframe>
    <a style="height: 92px;z-index: 1;margin: -92px 0 0 0;position: relative;float: right;text-indent: -9999em;width: 20px" href="http://www.willyweather.com/ca/san-francisco-county/san-francisco.html"></a>
</div>


<h3>All Items:</h3>

<h6>Filter By:</h6>

<div class="div-inline">

      <div class="button-group">
        <button type="button" id="color_selector" name="color" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="filter">Color</span> 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">

          {% for color in colors %}
            <li><a href="#" class="small" data-value='{{ color.color_id }}' tabIndex="-1">
              <label><input type="checkbox"/>&nbsp;{{ color }}</label>
            </a></li>
          {% endfor %}

        </ul>
      </div>
 
</div>

<div class="div-inline">

      <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="filter">Category</span>
          <span class="caret"></span>
        </button>
        <ul id="category_selector" class="dropdown-menu" name="category">

          {% for category in categories %}
            <li><a href="#" class="small" data-value='{{ category.i_category_id }}' tabIndex="-1">
              <label><input type="checkbox"/>&nbsp;{{ category }}</label>
            </a></li>
          {% endfor %}

        </ul>
      </div>
  
</div>


<div class="div-inline">

      <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="filter">Closet</span>
          <span class="caret"></span>
        </button>
        <ul id="closet_selector" class="dropdown-menu" name="category">

          {% for closet in closets %}
            <li><a href="#" class="small" data-value='{{ closet.closet_id }}' tabIndex="-1">
              <label><input type="checkbox"/>&nbsp;{{ closet }}</label>
            </a></li>
          {% endfor %}
        
        </ul>
      </div>

</div>
<br><br>


{% for item in items %}

    <div itemid="{{ item.item_id }}" class="closet_item">
        <a href="/itemdetail/{{ item.item_id }}"><img src= "{{ item.image_filepath }}"></a>
    </div>

{% endfor %}




{% endblock %}