{% extends 'base.html' %}
{% block content %}

{% for dress in dresses %}
    <li>
     <a href="/viewitem/{{ dress.d_image_filepath}}"><img src= "{{ dress.d_image_filepath }}"></a> 
    </li>
  {% endfor %}

  {% for top in tops %}
    <li>
      <a href="/viewitem/{{ top.t_image_filepath}}"><img src= "{{ top.t_image_filepath }}"></a>
    </li>
  {% endfor %}

  {% for pant in pants %}
    <li>
      <a href="/viewitem/{{ pant.p_image_filepath }}"><img src= "{{ pant.p_image_filepath }}"></a>
    </li>
  {% endfor %}
{% endblock %}

<!-- Will need to chance pant_id, top_id, dress_id to image so shows images! -->