{% extends 'base.html' %}
{% block content %}

<style type="text/css">

#weatherbar {
    text-align: center;
}

.div-inline{
    display:inline-block;
}

#filter-side-navbar {
  background: #E5D0CC;
}

</style>

<script type="text/javascript">
$(function(){
    var searchItems = function(){

        var color_id = $('#color_selector').val()
        var category = $('#category_selector').val()
        var closet = $('closet_selector').val()

        $.ajax({
          url: "search",
          type: "get",
          data: {color: color_id, category: category, closet: closet},
          success: function(response) {
            $(".closet_item").hide()
            for(var i=0; i<response.items.length; i++){

                $("[itemid='" +response.items[i]+ "']").show()

            }

          },
          // error: function(xhr) {
          //   //Do Something to handle error
          // }
        });
    }

    $("#color_selector").onclick(searchItems)
    $("#category_selector").change(searchItems)
    $("closet_selector").change(searchItems)

    })

</script>
  <div class="row">
    <nav class="col-sm-2 sidebar" id="filter-side-navbar">
      <div class="navbar nav-sidebar">
        <ul class="nav navpills nav-stacked" data-spy="affix" data-offset-top="205">
          <div id="form-div">
            <form action='/search' id="filters-form">
              <h4>Filter By:</h4><br>

              <li class="divider"></li>
              
              <li class="side-nav-category" id="color_selector" name="color">
                <h5>Color:</h5>
                  {% for color in colors %}
                  <label>
                    <input type="checkbox" value="{{ color.color_id }}"> {{ color }}</input>
                  </label><br>
                  {% endfor %}

                  <button id="show-color" type="button" class="btn btn-default btn-xs">Show More</button><br>
             
              </li>

              <li class="divider"></li><br>
              
              <li class="side-nav-category" id="category_selector" name="category">
                <h5>Category:</h5>
                  {% for category in categories %}
                  <label>
                    <input type="checkbox" value="{{ category.i_category_id }}"> {{ category }} </input>
                  </label><br>
                  {% endfor %}

                  <button id="show-color" type="button" class="btn btn-default btn-xs">Show More</button><br>

                </li>

                <li class="divider"></li><br>


            <input type="submit" id="filters" value="Apply Filters" class="btn btn-default navbar-"></input>

              </form>
            </div>
          </ul>
        </div>
      </nav>


      <div class="col-sm-10 main">

        <div id="weatherbar">
            <iframe src="http://cdnres.willyweather.com/widget/loadView.html?id=55936" width="850" height="92" frameborder="0" scrolling="no"></iframe>
            <a style="height: 92px;z-index: 1;margin: -92px 0 0 0;position: relative;float: right;text-indent: -9999em;width: 20px" href="http://www.willyweather.com/ca/san-francisco-county/san-francisco.html"></a>
        </div>

        <h3>Closet: {{ closet.closet_name }}</h3>

        {% for item in items %}
          <div itemid="{{ item.item_id }}" class="closet_item">
              <a href="/itemdetail/{{ item.item_id }}"><img src= "{{ item.image_filepath }}"></a>
          </div>
        {% endfor %}
    </div>
  </div>    
</div>









{% endblock %}